@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(21, 90, 146);
}
* {
  color: rgb(199, 218, 235);
}

.cont-central {
  background-color: rgb(44, 129, 168);
  border-radius: 10px;
}
